<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @recipe.titulo %> <br>
  <%= image_tag @recipe.image.to_s, width: '50%' %>

</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
